//  BASELINE
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	font-size: 16px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: linear-gradient(#111, #206, #60a);
	background-attachment: fixed;
}

*::-webkit-scrollbar{ display: none; }

a,a:visited,a:hover{
	text-decoration: none;
	color: unset;
}

// BELLS & WHISTLES
.blur{
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	-moz-backdrop-filter: blur(16px);
	background: #0006;
}

// ELEMENTS
.w-50{ width:50%; }
.w-66{ width:66.66%; }
.w-100{ width: 100%; }
.w-gen{
	--base:100%;
	--offset:0;
	width: calc(var(--base) - var(--offset));
}

.h-a{ height:auto; }
.h-100{ height: 100%; }

button, input{
	font-size:16px;
	border: 0;
	outline: none;
	color: #fff;
}

summary{outline:none;}

button{ cursor: pointer; }

svg {fill:none;stroke:currentcolor;stroke-linecap:round;stroke-linejoin:round;}

// COLORS
.bg-cov{ background-size:cover !important; }

.o-0{opacity:0;}

// IMAGES
img{ object-fit: cover; }
img[size="min"]{width: 22px;height: 22px;}
img[size="ic"]{width: 25px;height: 25px;}
img[size="ic-md"]{width: 66px;height: 66px;}
img[size="ic-lg"]{width: 100px;height: 100px;}
img[size="md"]{width: 150px;height: 150px;}
img[size="md-lg"]{width: 175px;height: 175px;}
*[size="max"]{width: 400px;height: 400px;}